.bg {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to top,
      #000000 12%,
      #00000074 70%,
      rgba(0, 0, 0, 0)
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    padding-bottom: 2%;
  }

  .img{
    height: 100px;
    
  }

  .infoFooter{
    color: #e2f8f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Cabin", sans-serif;
  }

  .icons{
    display: flex;
    justify-content: space-between;
    
  }