.containerCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Alinear las cartas al principio */
    align-items: center;
    
}

.container{
     padding-top: 5%;
     height: 100vh;
}
.tittle{
    display: flex;
    color: #d8bf7f;
    justify-content: center;
    margin: 5%;
}