.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Alinear las cartas al principio */
    align-items: center;
    margin: 3% 10% 0 3%;
    
  }
  .tittleStudent{
    font-family: "Cabin", sans-serif;
    color: #e2f8f1;
    display: flex;
    justify-content: center;
    margin-top: 3%;
  }

  .pag{
    display: flex;
    justify-content: center;
    color: #e2f8f1;
    margin-top: 2%;
  }

  .numberPag{
    margin: 10px;
  }

  .numberPag:hover{
    text-decoration: underline;
    cursor: pointer
  }

  .subrayado{
    text-decoration: underline;
  }