.bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to bottom,
      #000000 12%,
      #00000074 70%,
      rgba(0, 0, 0, 0)
    );
    z-index: 2;
  }