 
  .card{
    background-color: #ffffff11;
    box-shadow: rgba(0, 0, 0, 0.6) -5px 0 20px 1px;
    width: 460px;
    height: 220px;
    border-radius: 0 15px 15px 0;
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px;
    color: #e2f8f1;
    border-left: 0px solid red;
    
  }

  .img{
    width: 40%;
    height: 100%;
    
  }
  
  .info{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    position: relative;
  }
  
  .card:hover{
    transform: scale(0.95);
    cursor: pointer;
  }

  .gryffindor:hover {
    border-left: #990000 solid 10px; /* Cambiar a color de Gryffindor */
  }
  
  .slytherin:hover {
    border-left: #2a623d solid 10px; /* Cambiar a color de Slytherin */
  }
  
  .ravenclaw:hover {
    border-left: #222f5b solid 10px; /* Cambiar a color de Ravenclaw */
  }
  
  .hufflepuff:hover {
    border-left: #f3cd39 solid 10px; /* Cambiar a color de Hufflepuff */
  }

  .info h3 {
    margin-top: 0; /* Añade esta línea para evitar superposiciones con el corazón */
}

.info p {
    margin-bottom: 0; /* Añade esta línea para evitar superposiciones con el corazón */
}