 
  .card{
    background-color: #ffffff11;
    box-shadow: rgba(0, 0, 0, 0.6) -5px 0 20px 1px;
    width: 460px;
    height: 220px;
    border-radius: 0 15px 15px 0;
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px;
    color: #e2f8f1;
  }
  
  .img{
    width: 40%;
    height: 100%;
  }
  
  .info{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
  }
  